/Suretom.Client/Suretom.Client.Common/bin
/Suretom.Client/Suretom.Client.Common/obj
/Suretom.Client/.vs
/Suretom.Client/Suretom.Client.Data/bin
/Suretom.Client/Suretom.Client.Data/obj
/Suretom.Client/Suretom.Client.DataPlatformModel/obj
/Suretom.Client/Suretom.Client.IService/bin
/Suretom.Client/Suretom.Client.IService/obj
/Suretom.Client/Suretom.Client.Model/obj
/Suretom.Client/Suretom.Client.Model/bin
/Suretom.Client/Suretom.Client.Service/bin
/Suretom.Client/Suretom.Client.Service/obj
/Suretom.Client/Suretom.Client.UI/bin
/Suretom.Client/Suretom.Client.UI/obj
