<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="myvar" value="myvalue" />

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <targets>

    <!--默认程序日志输出-->
    <target xsi:type="File" name="fileDefault" fileName="${basedir}/Log/${level}/${date:format=yyyy_MM_dd}_${level}.log" layout="${longdate}--${level}  ${message}" />
    <!--错误日志输出-->
    <target xsi:type="File" name="fileError" fileName="${basedir}/Log/${level}/${date:format=yyyy_MM_dd}_${level}.log" layout="${longdate}--${level} 【${callsite}】 ${message} ${exception:format=toString,data}" />
    <!--程序埋点的日志输出：包括详细的可调配的输出信息，或者临时的信息。非排查问题时，关闭此日志。-->
    <target xsi:type="File" name="fileTrace" fileName="${basedir}/Log/${level}/${date:format=yyyy_MM_dd}_${level}.log" layout="${longdate}--${level} 【${callsite}】 ${message} ${exception:format=toString,data}" />
    <!--调试代码时，临时使用的输出-->
    <target xsi:type="File" name="fileDebug" fileName="${basedir}/Log/${level}/${date:format=yyyy_MM_dd}_${level}.log" layout="${longdate}--${level} 【${callsite}】 ${message} ${exception:format=toString,data}" />
  </targets>

  <rules>
    <!--通用日志区域-->
    <logger name="*" writeTo="fileDefault" levels="Info,Warn" enabled="true" />
    <logger name="*" writeTo="fileError" level="Error" enabled="true" />
    <!--程序埋点的日志输出，跟踪错误时才开始，-->
    <logger name="*" writeTo="fileTrace" level="Trace" enabled="true" />
    <!--调试代码时,才启用-->
    <logger name="*" writeTo="fileDebug" level="Debug" enabled="true" />
  </rules>
</nlog>